
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  background-color:beige;
  font-weight: 700;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: chartreuse;
}

.btn-primary {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkgoldenrod;
}


.watchlist-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:chartreuse;
}

.alert-primary,
.alert-warning {
  background-color: crimson;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

