{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'create-listing' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Listing item title" required>
        </div>
        <div class="form-group">
            <input type="number" name="price" step="0.01" class="form-control" placeholder="Item initial bid price" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="new Listing item description here (max 300 characters)"></textarea>
        </div>
        <div class="form-group">
            <input type="url" class="form-control" name="photo" placeholder="please paste an items Photo Url">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="category" placeholder="item Category (e.g. Fashion, Toys, Electronics, Home, etc.)">
        </div>
        <div>
            <input type="submit" ="btn btn-primary" value="Click to create new Listing">
        </div>

    </form>


    
{% endblock %}